@use "variables" as *;

@mixin ellipsis($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

.ellipsis-line-1 {
  @include ellipsis(1);
}

.ellipsis-line-3 {
  @include ellipsis(3);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.error-message {
  margin: 5px;
  color: $danger;
  display: block;
}
