@use "../variables" as *;
@use "../breakpoints" as *;

.form-label {
  font-size: $font-size-md;
  font-weight: 550;
  margin-bottom: 5px;
  display: block;
}

.form-input-group {
  margin-bottom: 10px;
}

.form-input-text {
  display: block;
  width: 100%;
  border: 2px solid $light-gray;
  border-radius: 6px;
  font-size: $font-size-md;
  padding: 12px;
  font-weight: 550;
}

.form-input-file {
  font-size: $font-size-md;

  &::file-selector-button {
    margin-right: 10px;
    font-weight: bold;
    // color: dodgerblue;
    padding: 0.5em;
    // border: thin solid grey;
    // border-radius: 3px;

    border: 2px solid $light-gray;
    border-radius: 6px;
    font-size: $font-size-md;
    padding: 12px;
    font-weight: 550;
  }
}

.form-input-textarea {
  border: 2px solid $light-gray;
  display: block;
  border-radius: 6px;
  font-size: $font-size-md;
  padding: 12px;
  font-weight: 550;
}

.file-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .file-link {
    text-decoration: none;
    color: #292727;
    display: block;
  }

  .file-preview {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(1, 1fr);

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .file-item {
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    padding: 4px;
    gap: 8px;
    position: relative;

    .file-info {
      display: flex;
      flex-direction: column;
    }
    .file-title {
      @include lg {
        max-width: 160px;
      }
    }
    .delete-icon {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .file-attachment-panel {
    border: 2px dotted #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
    }
    span {
      font-size: $font-size-sm;
    }

    input[type="file"] {
      display: none;
    }
  }
}

.form-select {
  border: 2px solid $light-gray;
  width: 100%;
  border-radius: 6px;
  font-size: $font-size-md;
  padding: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23666" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5H7z"/%3E%3C/svg%3E'); /* Chevron icon */
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px 24px;
}

// 3rd party forms
.form-input-group {
  .dp__input {
    border: 2px solid $light-gray;
    display: block;
    border-radius: 6px;
    font-size: $font-size-md;
    padding: 10px;
    padding-left: 40px;
    font-weight: 550;
  }

  .v-select {
    .vs__search {
      font-size: $font-size-md;
      padding: 8px;
      font-weight: 550;
    }

    .vs__dropdown-toggle {
      border: 2px solid $light-gray;
      // display: block;
      border-radius: 6px;
      font-size: $font-size-md;
      // padding: 10px;
      font-weight: 550;
    }
    .vs__selected {
      padding: 4px 4px;
    }

    .vs__dropdown-option {
      font-size: $font-size-md;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .vs__actions {
      padding-right: 15px;
    }
  }
}
