@use "../breakpoints" as *;

.pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 35px;

  &-mobile {
    display: flex;
    @include breakpoint(860px) {
      display: none;
    }
  }

  &-desktop {
    display: none;
    @include breakpoint(865px) {
      display: flex;
    }
  }
}
